<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address  %></p>

<%# itération de mes reviews de ce resto %>
<% @restaurant.reviews.each do |review| %>
<%= review.rating %>
<%= review.content %>
<% end %>

<%= link_to "Back to restaurant list", restaurants_path  %>
<%# <%= link_to "Add review", new_restaurant_review_path  %>
